.aboutpos{
    position: relative;
}
.abtIcons{
    max-width: 200px;
    margin-top: -8px;
    padding-top: 2px;
    float: right;
    margin-right: 3.5rem;
    display: flex;
    justify-content: space-around;
    gap:5.4rem;
}
.paragraph{
    max-width: 600px ;
    margin: auto;
    text-align: justify; 
     /* text-align-last: justify; */
     line-height: 2rem;
}